body {
  background-color: $primary;
  color: white;
}

.content {
  padding: 0 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
  border-radius: 0.1rem;
  padding: 0.5rem;
  transition: background-color 100ms ease;

  &[type='text'] {
    &:hover {
      background-color: rgba(white, 0.7);
    }

    &:focus {
      outline: none;
    }
  }
}

.center {
  text-align: center;
}