.projects {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  grid-auto-flow: row;

  .project {
    margin: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .heading {
      display: flex;
      align-items: center;
    }

    .links {
      img {
        $size: 1.5rem;
        height: $size;
        width: $size;
        margin-right: 0.3rem;
      }
    }
  }
}
