@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant slider-thumb (&::-webkit-slider-thumb);
@custom-variant scrollbar (&::-webkit-scrollbar);
@custom-variant scrollbar-thumb (&::-webkit-scrollbar-thumb);

@theme {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);

    --color-midnight: #1b1b1b;
    --color-dark: #26252c;
    --color-light: #fff8e8;
    --color-grapefruit: #ff6347;
    --color-pomegranate: #e03c31;

    --animate-loop-scroll: loop-scroll 40s linear infinite;

    @keyframes loop-scroll {
        0% { transform: translateX(0) }
        100% { transform: translateX(calc(-100% / 3)) }
    }
}

@utility container {
    @apply px-8 sm:px-12 lg:px-16 xl:px-20 2xl:px-32;
    margin: 0 auto;
}

@layer base {
    button { @apply cursor-pointer; }
    a { @apply text-grapefruit; }
    a:hover { @apply underline; }

    :root {
        --primary: #656565;
        --secondary: #757575;
        --tertiary: #d1d5db;
    }

    :root.dark {
        color-scheme: dark;

        --primary: #BABABA;
        --secondary: #777777;
        --tertiary: #404040;
    }
}

/* Overrides for code block syntax highlighting */
pre.prismjs {
    @apply p-4 bg-[#2b2b2b] h-full overflow-auto;

    code {
        @apply font-[Consolas,Monaco,'Andale_Mono',monospace] text-[#a9b7c6] leading-[1.5em];

        .comment, .prolog, .cdata {
            @apply text-[#808080];
        }
        .delimiter, .boolean, .keyword, .selector, .important, .atrule {
            @apply text-[#cc7832];
        }
        .operator, .punctuation, .attr-name {
            @apply text-[#a9b7c6];
        }
        .tag, .tag.punctuation, .doctype, .builtin {
            @apply text-[#e8bf6a];
        }
        .entity, .number, .symbol {
            @apply text-[#6897bb];
        }
        .property, .constant, .variable {
            @apply text-[#9876aa];
        }
        .string, .char {
            @apply text-[#6a8759];
        }
        .attr-value {
            @apply text-[#a5c261];
        }
        .attr-value.punctuation {
            @apply text-[#a5c261];
            &:first-child {
                @apply text-[#a9b7c6];
            }
        }
        .url {
            @apply text-[#287bde] underline;
        }
        .function {
            @apply text-[#ffc66d];
        }
        .regex {
            @apply bg-[#364135];
        }
        .bold {
            @apply font-bold;
        }
        .inserted {
            @apply bg-[#294436];
        }
        .deleted {
            @apply bg-[#484a4a];
        }
    }

    code.language-css {
        .token.property {
            @apply text-[#a9b7c6];
            + .token.punctuation {
                @apply text-[#a9b7c6]
            }
        }
        .token.id {
            @apply text-[#ffc66d];
        }
        .token.selector {
            > .token.class, > .token.attribute, > .token.pseudo-class, > .token.pseudo-element {
                @apply text-[#ffc66d];
            }
        }
    }
}

pre.prismjs::-webkit-scrollbar {
    @apply w-2 h-2;
}

pre.prismjs::-webkit-scrollbar-thumb {
    @apply bg-[#484a4a];
}

pre.prismjs::-webkit-scrollbar-corner {
    @apply hidden;
}
